body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game-start-screen {
  background-position: center;
  text-align: center;
  padding: 35px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 50px;
  margin-top: 200px;
}

p1 {
  font-size: 30px;
}
p {
  margin-top: 40px;
  margin-bottom: 30px;
}
#start-button {
  background-color: white;
  border: "none";
  border-radius: 5px;
  margin-top: 50px;
  padding: 12px 50px;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#start-button:hover {
  background-color: palegoldenrod;
}

#lives {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  color: black;
  padding: 15px;
  border-radius: 5px;
}

#timer {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  color: black;
  padding: 15px;
  border-radius: 5px;
}
#end-screen {
  text-align: center;
  margin-top: 200px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#restart-button {
  background-color: white;
  border: "none";
  border-radius: 5px;
  margin-top: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  padding: 12px 50px;
}

#win-screen {
  text-align: center;
  padding: 50px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
